<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "main.css">
    </head>
    <script>
        // Prevents page reload
        if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    </script>
    <body>
<header class="hero">
    <div class="hero-content">
        <div class="hero-left">
            <h1>Never Miss a Uniqlo Deal Again</h1>
            <p>
                Track any Uniqlo item and get instant email alerts when the price drops.
            </p>
            <form action="/" method="POST" class="tracker-form">
        <% if (typeof error !== "undefined") { %>
            <p id="errorMessage" class="error-message"><%= error %></p>

            <script>
                setTimeout(() => {
                    const el = document.getElementById("errorMessage")
                    if (el) el.remove()
                }, 3000);
            </script>
        <% } %>

        <% if (typeof success !== "undefined") { %>
        <p id="successMessage" class="success-message"><%= success %></p>
        <script>
            setTimeout(() => {
                const el = document.getElementById("successMessage");
                if (el) el.remove()
            }, 3000);
        </script>
        <% } %>
        
                <input type="text" id="email" name="email" placeholder="Enter your email" required>
                <input type="text" id="itemLink" name="itemLink" placeholder="Enter the item link" required>
                <button type="submit">Start Tracking</button>
            </form>
            <div class="removeEmail">
                <p class="removeEmailText">Want to stop tracking? Enter your email below!</p>
                <input type="email" id="removeEmail" placeholder="Enter your email">
                <button type="button" onclick="deleteEmail()">Enter</button>
                <p id="statusMessage"></p>
            </div>
        </div>
        <div class="hero-right">
            <img src="/pricedropped.png">
        </div>
    </div>
</header>
    <section class="how-it-works">
        <h2>How It Works</h2>
        <img src="/howitworks.png" alt="How It Works Illustration">
    </section>
    <hr class="section-divider">
        <script src="/client.js"></script>
    </body>
</html> 